# Ignore data files
exams_json/*
exams_pdfs/*
exams_tex/*
exams_text/*
artifacts/*
human_feedback_template/*
human_feedback/*
llm_grade/*

# Ignore human grades
exams_scores/*

# Ignore LLM output
llm_out/*
llm_out_filtered/*

# Ignore manual parsing
*to_json.py
reformat_hci_exams.py
reformat_ml4sc_exams.py
sum_grade_ai2.py
correct_float_format.py
fix_name.py

# Ignore notes
note.md
Test.ipynb

# Ignore python stuff
.idea/*
__pycache__/*
.ipynb_checkpoints/

# Ignore macOS stuff
.DS_Store
